{{#if this.composerComponent.isPrivateMessage}}
    <div class="product-custom-fields">
        <label for="product-name-custom-field-input">Product Name:</label>
        <input id="product-name-custom-field-input" placeholder="Type here product name…">
        {{!--<label for="product-version-custom-field-input">Product Version:</label>--}}
        {{!--<input id="product-version-custom-field-input" placeholder="Type here product version…">--}}
        <span class="error-message" style="display: none; color: red;">This field is required.</span>
    </div>
{{/if}}
